@import '../../colors.scss';

.goal-item-container {
    display: flex;
    
    input {
        margin-right: 10px;
    };

    
    .goal-item-row {
        display: flex;
        width: 100%;
        padding: 15px 15px 15px 20px;
        margin-bottom: 5px;
        background-color: #F8F9FB;
        border-radius: 20px;
    
    
        .goal-item-text {
            display: flex;
            flex-direction: column;
            overflow-wrap: anywhere;
    
            h4{
                margin-bottom: 10px;
            };
        
            p {
                font-size: 17px;
            };
        };

        .goal-item-text.done{
            h4, p{
                color: $color-gray;
                text-decoration: line-through;
            };
        };
    
        .goal-item-left {
            display: flex;
            margin-left: auto;
    
            button {
                border: none;
                background-color: transparent;
                
                i {
                    font-size: 15px;
                    cursor: pointer;
    
                    &:first-child {
                       margin-right: 10px;
                    };
                };
            };
        };
    };
};