.goal-item-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 20px;
    margin-bottom: 5px;
    background-color: #F8F9FB;
    border-radius: 20px;

    .goal-item-right {
        display: flex;
        flex-direction: column;
        overflow-wrap: anywhere;

        h3{
            margin-bottom: 10px;
        };
    
        p {
            font-size: 17px;
        };
    };

    .goal-item-left {
        display: flex;
        justify-content: center;

        button {
            border: none;
            background-color: transparent;
            
            i {
                font-size: 15px;
                cursor: pointer;

                &:first-child {
                   margin-right: 10px;
                };

            }
        };
    };

};