@import '../../colors.scss';

.goal-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: $color-light-gray;
    border-radius: 20px;
    #goal-form {
        display: flex;
        flex-direction: column;  
        width: 90%;
    };

    label {
        display: inline-flex;
        flex-direction: column;
    };

    input {
        height: 40px;
        margin: 5px 10px 0 0;
        border: 1px solid $color-dark-blue;
        border-radius: 50px;
        font-size: 17px;
        padding: 5px 15px;
        color: $color-dark-blue;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        &:focus, &:hover{
            outline: 1px solid $color-dark-blue;
        };
    };

    span {
        color: red;
        margin: 10px 0;
        font-size: 15px;
    };
               
    button {
        background-color: $color-dark-blue;
        margin-top: 5px;
        border-radius: 50px;
        font-size: 17px;
        padding: 7px 20px;
        cursor: pointer;
        color: $color-white;
    };

    @media screen and (max-width: 1200px) {
        width: 70%;

        #goal-form { 
            width: 90%;
        };
    };

    @media screen and (max-width: 768px) {
        width: 90%;

        #goal-form { 
            width: 90%;
        };
    };
};





