$color-dark-blue: #101533;
$color-blue: #4C87D6;
$color-light-blue: #A8CAF8;
$color-white: #FFFFFF;
$color-light-gray: #F8F9FB;
$color-medium-gray: #dbdddf;
$color-gray: #ACACAC;
$color-orange: #E98021 ;
